<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secbro.drools.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.secbro.drools.domain.Role">
    <!-- generated @mbg.generated date: 2019-01-04 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- generated @mbg.generated date: 2019-01-04 -->
    id, `name`, create_at, create_by
  </sql>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- generated @mbg.generated date: 2019-01-04 -->
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listByUserId" resultMap="BaseResultMap">
    select a.* from role a,role_user b where a.id = b.role_id and b.user_id = #{userId}
  </select>
  <select id="listRecords" resultMap="BaseResultMap">
    select * from role where 1=1
    <if test="roleName!=null and roleName!=''">
      and name concat('%',#{roleName},'%')
    </if>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!-- generated @mbg.generated date: 2019-01-04 -->
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.secbro.drools.domain.Role">
    <!-- generated @mbg.generated date: 2019-01-04 -->
    insert into role (id, `name`, create_at, 
      create_by)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.secbro.drools.domain.Role">
    <!-- generated @mbg.generated date: 2019-01-04 -->
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.secbro.drools.domain.Role">
    <!-- generated @mbg.generated date: 2019-01-04 -->
    update role
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.secbro.drools.domain.Role">
    <!-- generated @mbg.generated date: 2019-01-04 -->
    update role
    set `name` = #{name,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>